.container {
  padding: 0 15px 15px 15px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  border: 1px solid var(--framer-color-divider);
  cursor: pointer;
}

html * {
  scrollbar-width: thin;
}

.content-container {
  min-width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.content-container::after {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  /* border: 1px solid red; */
  pointer-events: none;
}
