.container {
  padding: 0 15px 15px 15px;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  border: 1px solid var(--framer-color-divider);
  cursor: pointer;
}

html * {
  scrollbar-width: thin;
}

.content-container {
  min-width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}

.content-container::after {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.preview-container {
  display: flex;
  align-items: center;
}

.color-input {
  grid-column: span 2;
  height: 30px;
  min-height: 30px;
  border-radius: 8px;
  border: transparent;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  display: flex;

  span {
    flex-grow: 1;
  }

  .color {
    text-transform: uppercase;
  }

  .placeholder {
    color: #999999;
  }

  .erase {
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
  }

  input[type="color"] {
    cursor: pointer;
    position: relative;
    aspect-ratio: 1;
    border-radius: 4px;

    height: 22px;
    width: 22px;
    margin-right: 8px;
    margin-left: 4px;
    padding: 0;
    outline: none;
    box-shadow: unset;
  }

  input[type="color"]::after {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }
}

.color-list h4 {
  margin-bottom: 8px;
}
